flask[async]
flask-cors
xmltodict
uvicorn
transformers
torch
numpy
emoji
soynlp
scikit-learn
python-dotenv
dicttoxml
gunicorn
mysql-connector-python
geopy
pluscodes
python-dotenv
pandas
openpyxl
aiohttp

# MkDocs
mkdocs
mkdocs-get-deps
mkdocs-i18n
mkdocs-material
mkdocs-material-extensions
mkdocs-rtd-dropdown
mkdocs-static-i18n
mkdocs-toc-md