{
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "braceStyle": "1tbs",
  "proseWrap": "preserve",
  "spaceBeforeFunctionParen": true,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "vueIndentScriptAndStyle": true,
  "printWidth": 150,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.py", "*.json", "*.c", "*.cpp", "*.cs", "*.rs"],
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    }
  ]
}
